<% if @current_user.present? %>
  <%= form_with model: [ @post, @post.comments.build ], local: true do |f| %>
    <div class="form-group">
      <%= f.label 'Can you help?' %>
      <%= f.text_area :content, :class => 'form-control' %>
    </div>

    <%= f.submit :class => 'btn-lg btn-outline-success' %>
  <% end %>
<% end %>
