<!-- This is the landing page that a user will see on arrival at the site. -->
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-1">Code Snippet Study</h1>
    <p class="lead">Your code homework study site.</p>
    <p><%= button_to 'All posts', posts_path, :method => :get, :class => "btn btn-dark btn-lg"%></p>
  </div>
</div>
