<!-- This will all code snippets -->
<div class="row">
  <div class="col">
    <h1>All Snippets</h1>
    <!-- This will display all snippets in individual rows-->
    <% @posts.each do | post | %>
      <div class="row">
        <div class="col-sm">
          <div class="card bg-light mb-3" style="">
            <div class="card-body">
              <h5 class="card-title"><%= link_to post.title, post %></h5>
              <p class="card-text"><%= post.example %></p>
            </div>
          </div>
        </div>
      </div>
    <% end %>

  </div>
</div>
