<!-- This will display the elements & call the form partial for a user to add new code snippet -->
<div class="row">
  <div class="col">
    <h1>New Code Snippet</h1>
    <%= render :partial => 'form' %>
  </div>
</div>
